/*
  Open sans
*/
@font-face {
  font-family: 'Open Sans';
  font-weight: normal;
  src: url('~assets/fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: normal;
  src: url('~assets/fonts/OpenSans-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 200;
  src: url('~assets/fonts/OpenSans-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 500;
  src: url('~assets/fonts/OpenSans-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: bold;
  src: url('~assets/fonts/OpenSans-Bold.ttf') format('truetype');
}

/*
  Ubuntu
*/
@font-face {
  font-family: 'Ubuntu';
  font-weight: 200;
  src: url('~assets/fonts/Ubuntu-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Ubuntu';
  font-weight: normal;
  src: url('~assets/fonts/Ubuntu-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Ubuntu';
  font-weight: 400;
  src: url('~assets/fonts/Ubuntu-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Ubuntu';
  font-weight: bold;
  src: url('~assets/fonts/Ubuntu-Bold.ttf') format('truetype');
}
