@media screen and (min-width: 767px) {
  .slider-title {
    font-size: 50px;
    padding: 20px;
  }
}

@media only screen and (max-width: 767px) {
  body {
    font-size: 14px;
  }
  h1,
  h2,
  h3,
  h4 {
    font-size: 26px;
  }

  i, span, div {
    font-size: 14px;
  }

  .slider-title {
    font-size: 26px;
    padding: 15px;
  }

  .img-responsive {
    max-width: 100%;
  }

  img {
    max-width: 100%;
  }

  .container {
    max-width: 100%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1365px) {
  h1 {
    font-size: 32px;
  }
}
