@media screen and (min-width: 767px) {
  .product-category {
    .product {
      display: flex;
      border-bottom: 2px solid #e9e9e9;
      margin-bottom: 30px;
      padding-bottom: 30px;

      &-image {
        flex: 0 0 30%;

        & > div {
          display: flex;
          justify-content: center;
          align-items: center;
        }

        &__image-cover {
          max-width: 80%;
        }
      }

      &-info {
        &__title {
          font-size: 1.6em;
          font-weight: bold;
          color: $mainBlue;
        }

        &__description {
          margin-top: 10px;
          margin-bottom: 10px;
          line-height: 1.7em;
          font-size: 0.9em;
        }

        &__details {
          display: flex;
          justify-content: space-between;

          &-pricing {
            &__weekly {
              margin-top: 0.7em;
              margin-bottom: 0.5em;

              span {
                font-size: 3em;
                font-weight: 700;
                line-height: 0.8em;
                color: $mainBlue;
              }
            }

            &__daily {
              span {
                font-size: 1.4em;
                font-weight: 700;
                color: $mainBlue;
              }
            }

            &__price-info {
              color: $mainBlue;
              font-size: 0.8em;
              font-style: normal;
            }
          }
        }
      }
    }

    .explanation {
      font-size: 0.65em;
      font-weight: 300;
    }

    .product {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      padding: 15px;
      border-bottom: 2px solid #e9e9e9;

      .product-image {
        text-align: center;
        display: block;
        width: 289px;

        img {
          max-width: 60%;
          max-height: 80%;
        }
      }

      .product-info {
        flex: 1;

        .product-title {
          font-size: 23px;
          font-weight: bold;
        }

        .product-description {
          color: #585858;
          margin: 7px 0;
          font-size: 0.7em;
          line-height: 25px;
        }

        .product-body {
          color: #092d4f;
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-wrap: wrap;

          .price-weekly {
            font-size: 2.1em;
            font-weight: 700;
          }

          .price-daily {
            font-weight: bold;
          }

          .product-button {
            font-size: 0.7em;
          }
        }
      }
    }

    .col {
      padding: 16px;
    }

    .category-description {
      font-size: 0.7em;
      line-height: 1.6em;

      h1,
      h2,
      h3,
      h4 {
        color: #092d4f;
        font-size: 1.6em;
        margin-bottom: 10px;
      }

      h2,
      h3,
      h4 {
        margin-top: 25px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .product-category {
    #main-content {
      max-width: 90%;
      margin-left: auto;
      margin-right: auto;
    }

    .bg-img-container {
      min-height: 256px;

      & > div {
        min-height: inherit !important;
      }
    }

    .product {
      margin-top: 50px;
    }

    .product-info {
      margin-bottom: 30px;

      .product-title {
        font-size: 20px;
        font-weight: bold;
        color: $mainBlue;
      }

      .product-description {
        margin: 20px 0;
      }

      .price-weekly {
      }

      .price-weekly, .price-daily {
        font-size: 25px;
        font-weight: bold;
        color: $mainBlue;
      }

      .price-explanation {
        display: block;
      }
    }
  }
}
