.btn {
  display: block;
  padding: 0.9em 1.4em;
  border-radius: 0.3em;
  border: 0;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  font-size: 0.9em;
}

.btn-blue {
  color: #fff;
  background-color: $mainBlue;
}

.input-group {
  .input-form {
    &.input-text {
      padding: 14px 20px;
      border-radius: 5px;
      border: 1px solid #e8e8e8;
      box-shadow: 1px 0px 5px rgb(0 0 0 / 10%);
    }
  }
}
